altgraph==0.17.5
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
et_xmlfile==2.0.0
idna==3.11
openpyxl==3.1.5
packaging==26.0
pefile==2024.8.26
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.1
python-dotenv==1.2.1
pywin32-ctypes==0.2.3
requests==2.32.5
setuptools==82.0.0
tqdm==4.67.3
urllib3==2.6.3
